
.button {
  display: block;
  text-align: center;
  position: relative;
  margin: auto;
  width: 10%;
  padding: 10px;
  border-radius: 25px 25px;
  top: 30%;
}

.qr {
  margin: auto;
}

.button:hover{
  transform: scale(1.1);
}
